*.pyc
*__pycache__*
*.cpkt
.vscode
.idea/
*.png
*.jpg
*.gml
*.pckl
*.whl
my_cache/
result/openml_cc18_csv/
result/tabzilla/
result/tabzilla27/
result/tabzilla35/
result/talent_csv/
result/test_run/
benchmark_list/
dataset/
bcco_cls/

.DS_Store
bcco_cls/.cache/

